.pageList {
  font-size: 20px;
  list-style: none;
  padding-left: 30px;
}

.pageListItem {
  margin-bottom: 15px;
}

.pageList a {
  padding: 5px;
  color: blue;
}

.active {
  background-color: yellow;
  color: white;
}
